
	<div class = 'center'>

		<div class = 'general-content center-text'>
			<div class = 'title'> Your Message Has Been Sent!</div>
			Thank you for taking the time to give us feedback.
			<br>
			The admins read all the messages and we'll try to respond to you soon.
			<br>
			The responses will be sent to the email on your account
			
		</div>
	</div>