Last login: Thu Feb  7 12:49:51 on ttys000
/Volumes/THE\ BOSS/rails_projects/ind_study/.gitignore ; exit;
muen6-142-121-dhcp:~ Moose$ /Volumes/THE\ BOSS/rails_projects/ind_study/.gitignore ; exit;
/Volumes/THE BOSS/rails_projects/ind_study/.gitignore: line 1: syntax error near unexpected token `<<<'
/Volumes/THE BOSS/rails_projects/ind_study/.gitignore: line 1: `<<<<<<< HEAD'
logout

[Process completed]

/tmp/*
/log/*
/config/initializers/setup_mailer.rb














