
<h1>
	<% @titles.each do |title| %>
		<%= title.title %> , 
	<% end %>

	<!-- How to edit? Can't just let them have text field, need
	to destroy them properly. hmmm -->
</h1>

<%= link_to 'Add Section', new_article_section_path(@article), :class => 'btn'%>