<div class = 'center'>
	<% @articles.each do |article| %>
	    <div class = 'general-content'>
	    	<div class = 'title'><%= link_to article.main_title, article_path(article) %></div>
	    	<div class = 'title main-title-small'><%= stringify_titles(article.article_titles) %></div>
	    	<% if session[:admin] != nil %>
				<%= link_to 'Edit', edit_article_path(article), :class => 'btn' %>
				<%= link_to 'Delete', article_path(article), :method => :delete, :class => 'btn' %>
			<% end %>
	    </div>
	<% end %>
</div>