<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>


<% @articles.each do |article| %>
 		<p>
 			<% name = get_names(article) %>
 			<% if name.nil? %>
 				<%= link_to 'No Name', article_path(article) %>
 			<% else %>
 				<%= link_to name, article_path(article) %>
 			<% end %>

 			<% if session[:admin] != nil %>

 				<%= link_to 'Edit', edit_article_path(article), :class => 'btn' %>
 				<%= link_to 'Delete', article_path(article), :method => :delete, :class => 'btn' %>
 			<% end %>
 		</p>
 	<% end %>
