<div class = 'center'>
	<% for i in 0..@articles.length-1 do %>
	    <div class = 'general-content'>
	    	<div class = 'title main-title-large'><%= link_to @articles_hash[i][:titles], article_path(@articles_hash[i][:id]) %></div>
	    	<% if session[:admin] != nil %>
				<%= link_to 'Edit', edit_article_path(@articles_hash[i][:id]), :class => 'btn' %>
				<%= link_to 'Delete', article_path(@articles_hash[i][:id]), :method => :delete, :class => 'btn' %>
			<% end %>
	    </div>
	<% end %>
</div>


