  	<div class = 'center'>
		<div class = 'general-content center-text'>
			<div class = 'title'>Create Article</div>
			 <h4>Enter the main title you want to be associated with this article</h4>
			<div class = 'center-form'>
			 <%=  simple_form_for @article do |f| %>

				  <%= f.text_field :main_title %>
				  <br>
				  <br>
				  <%= f.button :submit, 'Create Article' %>
			 <% end %>
			</div>
		</div>
	</div>