<div class = 'general-content center'>
	<div class = 'title'>Our Mission</div>
	Hello, this is the about page
	<div class = 'title'>Why ?</div>
	<div class = 'title'>How lk?</div>
	<div class = 'title'>About The Creator ?</div>
	<div class = 'title'>What Can I Do ?</div>
</div>