<div class = 'general-content center'>

	<div class = 'title'>What is Know Your Food?</div>
	Know Your Food is a collection of sourced information in the form of articles that aims to educate people about the production of food. It tries to close the gab between people and the food on their table by bringing to light the darker side of the global food system.
	<br><br>

	<div class = 'title'>Why?</div>
	In a world where grocery stores make food overly abundant and global trade has created variety that would have been unimaginable half a century ago, we have become completely disconnected with how our food is produced. We can simply stop by a supermarket to get produce that is out of season or comes from thousands of miles away. Although this change in our food system has revolutionized the way we live, it has also created a veil to hide the systematic pollution, human rights violations, dissolving of communties, animal abuse and the destruction of ecosystems that happens on a daily basis so that we may eat foods such as bananas and quinoa. While this system may seem ernoumous grounded in the American way of life, the only way that it can change is if people are educated about their food and make informed decisions about their food
	<br><br>

	<div class = 'title'>How?</div>
	Finding information about a system that isn't keen on having its inner workings exposed to the public is a difficult task. The administors of Know Your Food work hard to find information from credible sources, but this method isn't perfect. Some incorrect facts may find their way into our articles and that's why we also rely on our readers as another level of fact checking
	<br><br>


	<div class = 'title'>What Can I Do?</div>
	By visiting this site and opening your mind to changing how you think about the food system is half the battle. It's a difficult task to look at a way of life that you've been following since you were born and face the issues with it. The second thing you can do to help is to contribute to the site. Know Your Food was created with the intent that users could interact with ther administratros and the articles. At the bottom of each article, there is a place where you can message the admins if you have information to add, new sources or there is some fact that you think is not correct on the page. We ask that you please include sources with anything you submit and the admins will contact you via the email on your account.


</div>