
.center{
	margin-left:150px;
	margin-right:150px;
	width:auto;
	margin-top: 20px;
}

.center-form{
	display: inline-block;
	margin-top: 15px;
}

.center-text{
	text-align:center;
}

.center-form textarea {
	height: 150px;
}

.general-content{
/*	margin-right: 10%;*/
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
	border-style:solid;
	border-width:5px;
	border-color:#444444;
	margin-top: 20px;
}

.title{
	color:#cc0000;
	font: bold 30px Arial,Helvetica,Sans-serif;
	margin-bottom:15px;
	text-align: center;
	margin-bottom:10px;
}

.show-title{
	text-align: left;
}

.main-title-large{
	font: bold 50px Arial,Helvetica,Sans-serif;
}

.main-title-small{
	font: bold 20px Arial,Helvetica,Sans-serif;
}


.section-text{
	margin-bottom:30px;
	font-size:1.35em;
}


.sub-section-title{
	font-weight: 3;
}

.sub-section-text{
	margin-bottom:15px;
	margin-right:20px;
}

.grey{
	background-color: #444444;
}

.other-content{
	margin-top: 50px;
	margin-bottom: 15px;
}

.other-content .title{
	color:#cc0000;
	font: bold 30px Arial,Helvetica,Sans-serif;
	font-weight: 3;
	text-align: center;
}

.other-box{
	display: inline-block;
	margin-right: 10%;
	margin-left:9%;
}

.other-more{
	color:#cc0000;
	text-align: center;
	margin-bottom: 5px;
}

